
    <section class="Header">

        <section class="HeaderNav">
            <h1 class="Title"><a href="{{ path('main') }}">sondagepresidentielle.xyz</a></h1>
            <img src="{{ asset('Images/Icon.svg') }}" id="Logo" />
            {% if not app.user  %}
            <nav class="Menu">
                <ul>
                    <li><a class="LinkMenu" href=" {{ path('register') }}">Inscription</a></li>
                </ul>
            </nav>
            {% endif %}
        </section>

        {% if app.user %}

            <section class="HeaderCo">
                {% if app.session.get('VoteActuel') is not empty %}
                    <p class="MsgVoteActuel">Vous avez voter pour : {{ app.session.get('VoteActuel').getFirstname }} {{ app.session.get('VoteActuel').getLastname() }}</p>
                {% else %}
                    <p class="MsgVoteActuel">Vous n'avez pas encore voté.</p>
                {% endif %}

                <nav class="NavHeaderCo">
                    <ul>
                        <li><a class="LinkMenu" href="{{ path('acount') }}"><img src="{{ asset('Images/compte.svg') }}" />Compte</a></li>
                        <li><a class="LinkMenu" href="{{ path('app_logout') }}"><img src="{{ asset('Images/deconnexion.svg') }}" />Déconnexion</a></li>
                    </ul>
                </nav>

            </section>
        {% else %}
        <section class="HeaderConnexion">
            {% embed 'security/login.html.twig' %}{% endembed %}
        </section>
        {% endif %}

    </section>
