{% extends 'base.html.twig' %}

{% block title %}sondagepresidentielle.xyz{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/ForgotPassword.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FloatLabel.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Errors.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Notice.css') }}"/>


{% endblock %}

{% block body %}

    <section class="MainForgotPassword">

        {% embed 'Partials/Error.html.twig' %}{% endembed %}
        {% embed 'Partials/Notice.html.twig' %}{% endembed %}


        <h3 class="Title">Veuillez saisir votre adresse mail, vous receverez un lien afin de redéfinir votre mot de passe.</h3>

        {{ form_start(Form) }}

            <div class="FormGroup">
                {{ form_widget(Form.email) }}
                {{ form_label(Form.email) }}
            </div>

            {{ form_widget(Form.submit) }}
        {{ form_end(Form) }}

    </section>
{% endblock %}
