{% extends 'base.html.twig' %}

{% block title %}sondages-presidentielle.com{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Home.css") }}"/>
    <link rel="stylesheet" href="{{ asset("CSS/Card.css") }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Notice.css') }}"/>

{% endblock %}

{% block body %}

    <main class="MainHome">
        {% embed 'Partials/Notice.html.twig' %}{% endembed %}

        <section class="Timeout">
            <h3 id="TimeOut">200 jours avant les élections</h3>
        </section>

        <section class="HeadMain">
            <p>Parmis tous ces personnages politiques, lequel souhaiteriez vous voir remporter les prochaines élections présidentielle de
            2022 ?</p>
        </section>

        <section class="CardList">

            {% for Candidat in Candidats %}

                <div class="Card Card{{ Candidat.getSlug() }}">
                    <a class="CardName {{ Candidat.getSlug() }}" href="{{ path('candidat', {'slug' : Candidat.getSlug() } ) }}">{{ Candidat.getFirstname }} {{ Candidat.getLastname }}</a>
                    <div class="BackgroundLoad">
                        <div class="BarrePourcent" style="width:{{ ((Candidat.getVotes()|length / TotalVote) * 100)|number_format(2) }}%;"></div>
                        <p class="Pourcent">{{ ((Candidat.getVotes()|length / TotalVote) * 100)|number_format(2) }}%</p>
                    </div>

                        {% if app.session.get('VoteActuel') == Candidat %}
                            <button class="Voter AnnulerVote">Votre vote - annuler</button>
                        {% else %}
                            <button class="Voter">Voter</button>
                        {% endif %}
                </div>

            {% endfor %}

        </section>

    </main>

{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('JS/Vote.js') }}"></script>
            <script src="{{ asset('JS/TimeOut.js') }}"></script>
        {% endblock %}


