{% extends 'base.html.twig' %}

{% block title %}Hello UpdatePasswordController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Inscription.css") }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FormInscription.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Acount.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/UpdatePassword.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Errors.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Notice.css') }}"/>

{% endblock %}

{% block body %}

    <main class="UpdatePasswordMain">

        {% embed 'Partials/Error.html.twig' %}{% endembed %}
        {% embed 'Partials/Notice.html.twig' %}{% endembed %}


        <p class="Title">Modifier votre mot de passe</p>

        <div class="Formulaire">
            {{ form_start(Form) }}

            <div class="FormGroup">
                {{ form_widget(Form.password) }}
                {{ form_label(Form.password) }}
            </div>


                <div class="FormGroup">
                    {{
                    form_widget(Form.new_password.first,{
                        'attr' : {'class' : 'FormControl'}
                    })
                    }}
                    {{
                    form_label(Form.new_password.first, label|default(null),{
                        'label_attr' : {'class' : 'FormLabel'}
                    })
                    }}
                </div>

            <div class="FormGroup">

                {{
                form_widget(Form.new_password.second,{
                    'attr' : {'class' : 'FormControl'}
                })
                }}
                {{
                form_label(Form.new_password.second, label|default(null),{
                    'label_attr' : {'class' : 'FormLabel'}
                })
                }}
            </div>

            {{ form_widget(Form.submit) }}
            {{ form_end(Form) }}
        </div>
    </main>
{% endblock %}
