<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sondages-presidentielle.com{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('CSS/Reset.css') }}"/>
        <link rel="stylesheet" href="{{ asset('CSS/Default.css') }}"/>
        <link rel="stylesheet" href="{{ asset('CSS/FloatLabel.css') }}"/>
        <link rel="stylesheet" href="{{ asset('CSS/FormConnexion.css') }}"/>
        <link rel="stylesheet" href="{{ asset('CSS/Header.css') }}"/>


        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <script src="{{ asset('JS/jquery/jquery.js') }}"></script>

    {% embed 'Partials/Header.html.twig' %} {% endembed %}

    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
