
{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Backo.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/ListTxt.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FloatLabel.css') }}"/>

{% endblock %}

{% block body %}

    <main class="BackoMain">


        <h3>Les Textes..</h3>
        <a href="{{ path('AddTxtForm') }}">Ajouter un texte</a>

        <div class="ListTxt">

            <table>
                <tr>
                    <th>Texte</th>
                    <th>Location</th>
                    <th>Modifier</th>
                </tr>

                {% for Texte in Textes %}
                    <tr>
                        <td>
                            <div>
                                {{ Texte.getTxt() }}
                            </div>
                        </td>
                        <td>
                            {{ Texte.getLocation() }}
                        </td>
                        <td>
                            <a href="{{ path('UpdateTxtForm', {'id' : Texte.getId()} ) }}" class="UpdateTxtButton">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>

        </div>

    </main>

{% endblock %}

