{% extends 'base.html.twig' %}

{% block title %}Hello AcountController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Inscription.css") }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FormInscription.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Acount.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Errors.css') }}"/>

{% endblock %}

{% block body %}


    <main class="AcountMain">

        <section class="AcountInfos">
            {% embed 'Partials/Error.html.twig' %}{% endembed %}

            <h2 class="AcountTitle">Compte</h2>

            <a href="#" class="AccountMode">Modifier vos informations</a>

            <div class="UpdateInfos">

                <div class="Formulaire">
                    {{ form_start(Form) }}

                    <div class="FormGroup">
                        {{ form_widget(Form.email) }}
                        {{ form_label(Form.email) }}
                    </div>

                    <div class="FormGroup">
                        {{ form_widget(Form.datenaissance) }}
                        {{ form_label(Form.datenaissance) }}
                    </div>


                    <div class="FormGroup">
                        {{ form_widget(Form.codepostal) }}
                        {{ form_label(Form.codepostal) }}
                    </div>

                    {{ form_widget(Form.submit) }}
                    {{ form_end(Form) }}

                    <a href="{{ path('UpdatePasswordForm') }}">Modifier le mot de passe ?</a>
                </div>

            </div>
            <div class="Infos">
                <table>

                    <tr>
                        <td>Adresse mail : {{ app.user.getEmail() }}</td>
                    </tr>
                    <tr>
                        <td>Code postal : {{ app.user.getCodePostal() }}</td>
                    </tr>
                    <tr>
                        <td>Age : {{ app.user.getDatenaissance() }} ans</td>
                    </tr>
                    <tr>
                        <td>Mot de passe : ******</td>
                    </tr>

                </table>
            </div>

        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JS/Acount.js') }}"></script>
{% endblock %}
