{% extends 'base.html.twig' %}

{% block title %}Hello AcountController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Inscription.css") }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/FormInscription.css') }}"/>
    <link rel="stylesheet" href="{{ asset('CSS/Acount.css') }}"/>
{% endblock %}

{% block body %}


    <main class="AcountMain">

        <section class="AcountInfos">

            <h2 class="AcountTitle">Compte</h2>

            <a href="#" class="AccountMode">Modifier vos informations</a>

            <div class="UpdateInfos">

                <div class="Formulaire">
                     {% embed 'register/FormInscription.html.twig' %}{% endembed %}
                </div>

            </div>
            <div class="Infos">
                <table>

                    <tr>
                        <td>Adresse mail : {{ app.user.getEmail() }}</td>
                    </tr>
                    <tr>
                        <td>Code postal : 69000</td>
                    </tr>
                    <tr>
                        <td>Date de naissance : 21/08/1995</td>
                    </tr>
                    <tr>
                        <td>Mot de passe : ******</td>
                    </tr>

                </table>
            </div>

        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('JS/Acount.js') }}"></script>
{% endblock %}
